body{
    margin: 0;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Charm', cursive;
}
nav{
    display: flex;
}

img.logo{
    width: 150px;
    height: 100px;
}
.nav-items{
    margin-top: 14px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    font-size: 18px;
    margin: 18px;
    font-weight: bold;
}
.top{
    display: flex;
}
li.active{
    margin-left: 120px;
}
li.Login{
    margin-left: 150px;
}
a{
    color: black;
    text-decoration: none;
}
img.box-1-image{
    width: 100%;
    height: 300px;
    border-radius: 50px;
}
.box{
    position: relative;
    z-index: -3;
}
.box-1{
    position: relative;
    z-index: -2;
}
.box-1-heading{
    position: absolute;
    top: 0px;
    color: white;
    font-size: 40px;
    left: 450px;
    font-weight: lighter;
}
.box-2{
    position: absolute;
    top: 87px;
    left: 47px;
    background-color: white;
    padding: 5%;
    width: 82%;
    height: 100%;
    z-index: -1;
    border-color: black;
    border-style: solid;
    border-radius: 50px;
}

.image-box2{
    left: 0px;
    position: relative;
}
img.page1{
    border-color: black ;
    border-style: solid;
    border-width: 2.5px;
    padding: 0.1%;
    background-color: white;
    top: 20px;
    left: 150px;
    width: 180px;
    height: 280px;
    position: absolute;
    z-index: 2;
    
}
img.page2{
    border-color: black ;
    border-style: solid;
    border-width: 2.5px;
    padding: 0.1%;
    background-color: white;
    position: absolute;
    left: 280px;
    top: 40px;
    width: 150px;
    height: 230px;
    z-index: 1;
}
img.page3{
    border-color: black ;
    border-style: solid;
    border-width: 2.5px;
    padding: 0.1%;
    background-color: white;
    position: absolute;
    left: 400px;
    z-index: -1;
    width: 100px;
    height: 180px;
    top: 60px;
}
.content{
    top: 20px;
    position: absolute;
    z-index: 1;
    left: 700px;
}
.card-h{
    font-size: 40px;
    text-align: center;
}
h2{
    font-size: 25px;
}
span.price{
    font-size: 15px;
}
span.percent{
    margin-left: 30px;
    color: greenyellow;
}
p{
    color: gray;
}
button{
    margin-left: 2px;
    margin: 6px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 26px;
    text-align: center;
    padding: 11px 50px;
    cursor: pointer;
}
.bottom{
    margin-top: 300px;
}
h1{
    font-size: 30px;
    text-align: center;
}
.box-3{
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 47px;
    background-color: white;
    padding: 1% 7% 1% 3%;
    width: 82%;
    margin-bottom: 30px;
}
.circle{
    height: 85px;
    width: 85px;
    margin-left: 40px;
    background-color: rgb(229, 226, 226);
    border-radius: 50%;
    display: inline-block;
}
.features{
    margin-left: 100px;
    margin-right: 75px;
}
h3{
    font-weight: normal;
    font-size: 17px;
}


@media (max-width:480px){
    body{
        padding: 2px;
    }
    .menu-line{
        width: 25px;
        height: 5px;
        background-color: gray;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    .navbar{
        flex-direction: column;
    }
    .menu{
        margin-left: 10px;
        display: block;
    }
    .nav{
        display: block;
        text-align: center;
    }
    img.logo{
        width: 100px;
        height: 50px;
        margin-left: 150px;
        margin-right: 140px;
    }
    .nav-m{
        border-width:1px;
        border-color: white;
        border-style: solid;
        display: inline-flex;
        margin: 0px;
        margin-left: 4px;
        box-shadow: 0px 5px 5px #aaaaaa
    }
    .nav-items{
        margin-left: 100px;
    }
    .nav-item{
        display: none;
    }
    .display{
        display: block;
    }
    img.box-1-image{
        height: 150px;
    }
    .box-1-heading{
        font-size: 30px;
        left: 100px;
    }
    .box-2{
        left: 20px;
        height: 700px;
    }
    .content{
        margin-top: 300px;
        left: 0px;
    }
    img.page1{
        left: 50px;
    }
    img.page2{
        left: 150px;
    }
    img.page3{
        left: 270px;
    }
    .content{
        text-align: center;
        left: 70px;
    }
    .bottom{
        margin-top: 700px;
    }
    .box-3{
        margin-left: 17px;
        display: grid;
    }
    .bottom-content{
        display: flex;
    }
    .circle{
        margin: 20px;
    }
    h3{
        margin-left: 30px;
        margin-top: 40px;
    }
    .features{
        margin: 0px;
    }
}